extends layout.pug

block content

  //- Navigation bar with a back link
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  //- Main article section for portfolio content
  article.portfolio-about
    //- Wrapper for layout, using flexbox for responsive design
    .inner-wrapper.flex-row-wrap.two-col
      //- Introduction box containing personal information
      .about-intro-box.box
        h1 David Cote
        p Full-Stack JavaScript Web Developer

        //- Biography section with a detailed personal introduction
        .about-bio
          p Hi, I'm David Cote, a certified full-stack JavaScript web developer passionate about creating dynamic and efficient web applications. I’ve completed comprehensive training in modern JavaScript technologies, including Node.js and Express. During my certification, I built several projects that honed my skills in both front-end and back-end development, focusing on delivering responsive and user-friendly experiences. My enthusiasm for learning and problem-solving drives me to continuously expand my expertise. I am committed to lifelong learning and staying current with industry trends, ensuring that I bring the most innovative solutions to the table. I’m eager to bring fresh perspectives and develop creative solutions with your team, and I’m ready to tackle complex challenges head-on.

      //- Box containing skills and contact information
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 555-555-4912
          li dmc1991@email.com

        //- Links to LinkedIn and GitHub profiles
        a.btn-link(href='https://linkedin.com/in/dmcote1991', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/dmcote-1991', target='_blank') GitHub

    //- Repeating navigation bar at the bottom with a back link
    nav.nav
      a(href='/')
        span &larr;
        |  Back