extends layout

block content

  //- Navigation bar with a back link
  nav.nav(role="navigation" aria-label="Back navigation")
    a(href='/' aria-label="Back to homepage")
      span &larr;
      |  Back

  //- Main article section for portfolio content
  article.portfolio-about
    //- Wrapper for layout, using flexbox for responsive design
    .inner-wrapper.flex-row-wrap.two-col
      //- Introduction box containing personal information
      .about-intro-box.box
        h1 David Cote
        p Full-Stack JavaScript Web Developer

        //- Biography section with a detailed personal introduction
        .about-bio
          p Hi, I'm David Cote, a certified full-stack JavaScript web developer passionate about creating dynamic and efficient web applications. I’ve completed comprehensive training in modern JavaScript technologies, including Node.js and Express. During my certification, I built several projects that honed my skills in both front-end and back-end development, focusing on delivering responsive and user-friendly experiences. My enthusiasm for learning and problem-solving drives me to continuously expand my expertise. I am committed to lifelong learning and staying current with industry trends, ensuring that I bring the most innovative solutions to the table. I’m eager to bring fresh perspectives and develop creative solutions with your team, and I’m ready to tackle complex challenges head-on.

        //- Links to LinkedIn and GitHub profiles
        a.btn-link(href='https://linkedin.com/in/dmcote1991', target='_blank' aria-label="David's LinkedIn Profile") LinkedIn
        a.btn-link(href='https://github.com/dmcote-1991', target='_blank' aria-label="David's GitHub Profile") GitHub

      //- Box containing skills and contact information
      .skills-contact-box.box
        h6 Skills
        ul
          li Frontend Development
            ul
              li JavaScript
              li HTML5
              li CSS3
              li React
              li React Router
              li React Context API
              li React Markdown
              li DOM Manipulation
              li State
              li Data Fetching
              li Accessibility
              li PropTypes
              li Regex

          li Backend Development
            ul
              li Node.js
              li Express
              li REST API Development
              li REST API Integration
              li Authentication
              li Validation
              li BCrypt
              li CookieParser
              li CORS
              li Morgan

          li Databases
            ul
              li SQL
              li SQLite
              li Sequelize ORM
              li Sequelize CLI

          li Tools and Libraries
            ul
              li npm
              li Pug
              li Axios
              li Vite
              li Nodemon
              li ESLint
              li Git
              li GitHub
              li Deploying with GitHub Pages

          li Programming Concepts
            ul
              li Object Oriented Programming
              li Classes
              li Asynchronous Programming
              li Promises
              li Async...Await
              li Try...Catch
              li Pagination
              li Validation

        //- h6 Contact Info
        //- ul
        //-   li 555-555-4912
        //-   li dmc1991@email.com

    //- Repeating navigation bar at the bottom with a back link
    nav.nav(role="navigation" aria-label="Back navigation")
      a(href='/' aria-label="Back to homepage")
        span &larr;
        |  Back