<!DOCTYPE html>
html(lang="en" dir="ltr")

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    header.role-header
      //- Accessible name for skip-to-content
      a(href="main-content" class="skip-link") Skip to content
      .header-info-box 
        button#menu-icon.menu-icon(type='button' aria-expanded='false' aria-controls='my-info' aria-label='Toggle sidebar menu')
          //- Sliding panel icon
          svg(width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
            path(d='M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z')
        span David Cote 

    //- Sidebar containing personal information
    aside#my-info.sidebar(role="complementary" aria-labelledby="sidebar-title")
      h2#sidebar-title About Me
      .sidebar-info-box
        br
        //- Box for profile picture
        .thumbnail-box
          img.thumbnail(src='/static/images/profile-picture.jpeg', alt='Profile picture of David Cote')

        //- Box for developer introduction
        .dev-intro-box
          h5 David Cote
          p As a full stack JavaScript web developer, I am proficient in both front-end and back-end development, enabling me to create comprehensive, dynamic web applications. 
          p My expertise spans the entire stack, from designing intuitive user interfaces using frameworks like React, to building robust server-side logic with Node.js and Express. 
          p I excel in crafting responsive, user-friendly web experiences, integrating databases such as SQL, and ensuring seamless API interactions. 
          p My skill set also includes version control with Git, deployment strategies, and a strong understanding of web security practices. 
          p I am passionate about lifelong learning and stay up-to-date with the latest technologies, I am adept at problem-solving and thrive in collaborative environments.

          //- Link to the about page
          a(href='/about') Learn More &rarr;

    //- Main wrapper for the rest of the content
    main#main-content(role="main")
      block content

    //- Footer
    footer(role="contentinfo")
      p &copy; 2024 David Cote. All rights reserved.

    //- Links the custom JavaScript file
    script(src='/static/script.js')
