extends layout

block content

  //- Custom error message for page not found
  h1 Error #{status}: #{message}
  p The page you are looking for does not exist.
  
  //- Link to navigate back to the home page
  a(href='/') Back to Home